body{
    max-width:1280px;
    width: 100%;
    height:100%;
    margin: 0;
    padding: 0;

    color: white;
    background: #4a4a4a;
}

.center{
    margin: 0 auto;
}
.wrapper{
    width: 510px;
    }
    .wrapper p{
        font-size: 17px;

        padding-left: 83px;
        padding-right: 120px;

    }
    .welcome{
        padding-top: 22px;
    }
    .description{
        padding-top: 19px;
        padding-bottom: 75px;
    }
    .logo{
        font-size: 25px;
        position: absolute;
        left: 90px;
        top: 45px;
        padding: 10px 20px 10px 20px;
        border-radius: 3px;
        border: 2px solid white;
    }
    .form{
        text-align: left;
        padding-left: 91px;
        border-bottom: 2px solid white;
    }
        .form input{
            background: #4a4a4a;
            border-radius: 3px;
            box-shadow: none;
        }
        .form input[type=text]{
            background: #4a4a4a;
            outline: none;
            color: white;

            height: 20px;
            border:2px solid #a5a5a5;

            margin-bottom: 12px;
            padding-left: 9px;
            width: 320px;
        }
        .form ul{
            padding: 0;
        }
            .form li{
                text-align: left;
                list-style-type: none;
            }
            li.header{
                padding-bottom: 9px;
            }
        .person{
            line-height: 23px;
            margin-bottom: 35px;
        }
        .form label{
            margin-left: 7px;
        }
        .search-checkboxs{
            margin-top: 13px;
        }
            .search-checkboxs li{
                line-height: 21px;
            }
                .icon-plus{
                    vertical-align: middle;
                    margin-left:-1px;
                    padding-right: 5px;
                }
            .cash{
                margin-left: 90px;
            }
        button.search{
            color: dimgrey;
            border-radius: 4px;

            padding: 2px 11px 2px 10px;
            margin-top: 20px;
            margin-bottom: 55px;
        }
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.clear{
    clear: both;
}


.placeholder{
    color: blue;
}
input[type='text']::-webkit-input-placeholder {
    color: white;
}
input[type='text']::-moz-placeholder { /* Firefox 19+ */
    color: white;
}
input[type='text']:-ms-input-placeholder {
    color: white;
}
input[type='text']:-moz-placeholder { /* Firefox 18- */
    color: white;
}


table{
    width: 510px;
    font-size: 16px;
    margin-top: 15px;
}
    .name{
        width: 140px;
        height: 45px;
    }
    .social{
        width: 200px;
        text-align: center;
        line-height: 23px;
    }
        .tag{
            display: inline;
            background: #d1d1d1;
            color: black;
            font-size: 12px;
            margin-right: 2px;
        }
    .phone{
        text-align: right;
    }

.bottom{
    margin-top: 70px;
    width: 100%;
    text-align: center;
}
    .bottom>span{
        display: inline-block;
        text-align: left;
    }
    .helper{
        width: 100%;
        height: 0;
        visibility: hidden;
    }
        .social-icons{
            display: inline-block;
            width: 200px;
            text-align: justify;
        }
        .people{
            position: relative;
            top: -23px;
            left: 20px;
            border-radius: 2px;
            border: 1px solid white;
        }

.codelogo{
    position: fixed;
    right: 100px;
    bottom: 10px;
}

/*альтернативное представление результат для*/
/*мобильных девайсов. Их display меняеться в media*/
.result-mobile{
    display: none;
}

@media (max-width: 500px) {
    .welcome, .description, ul, li{
        margin: 0;
        padding: 0;
    }
    .logo{
        position: static;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .wrapper{
        width: 100%;
        text-align: left;
    }
    .form input[type=text]{
        width: 250px;
    }
    .form{
        padding-left: 0;
    }
    .cash{
        margin-left: 20px;
    }
    .wrapper p{
        padding-left: 0;
        padding-right: 0;
    }
    .codelogo {
        display: none;
        /*right: 0;*/
    }
    .result-mobile{
        display: block;
    }
    .social{
        width: 100%;
        height: auto;
        border-bottom: 1px dashed white;
    }
    .phone{
        display: inline-block;
        width: 49%;
        text-align: right;
        height: auto;
    }
    .name{
        display: inline-block;
        width: 49%;
        height: auto;
    }

    /*скрываем представление для декстопов*/
    table{
        display: none;
    }
}